.container {
  min-height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.65rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media(max-width: 768px) {
  .container section {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container section div:first-child {
    max-width: 414px;
    width: 100%;
  }
}